<!DOCTYPE html>

<html>

  <head>

    <style>

      img {
        width: 100%;
        height: 95vh;
      }

    </style>

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

  </head>

  <body>

    <img id="dynamicImage" src="/static/img/temperature_vs_time.png">

    <script>

      var socket =  io.connect(location.origin);
      var img = document.getElementById("dynamicImage");

      socket.on("plot_updated", function() {

        var src_append = "?" + new Date().valueOf();
        img.src += src_append;

        socket.emit("update_plot");

      });

    </script>

  </body>

</html>
