<!DOCTYPE html>

<html>

  <head>

    <style>

      img {
        width: 100%;
        height: 95vh;
      }

    </style>

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

  </head>

  <body>

    <img id="dynamicImage" src="{{ url_for('static', filename='img/temperature_vs_time.png') }}">

    <script>

      var socket =  io.connect(location.origin);

      socket.on("new_plot", function() {

        var src_append = "?" + new Date().valueOf();
        document.getElementById("dynamicImage").src += src_append;

      });

    </script>

  </body>

</html>
